.textinput {
    
}
.textinput label {
    display: flex;
    flex-direction: column;
}
.textinput-label {
    cursor: pointer;
    font-size: 1.05em;
}
.textinput-input {
    width: 6em;
    text-align: center;
    font-size: 1.05em;
}
.textinput-helper {
    font-size: 0.85em;
    cursor: pointer;
}